/* Slideshow container */
.zenfolio-slideshow-container
  max-width: 1000px
  position: relative
  margin: auto
  box-sizing: border-box
  *
    box-sizing: border-box
  .zenfolio-slide
    display: none
    height: 400px
    img
      max-height: 400px
  .zenfolio-prev, .zenfolio-next
    cursor: pointer
    position: absolute
    top: 50%
    width: auto
    margin-top: -22px
    padding: 16px
    color: white
    font-weight: bold
    font-size: 18px
    transition: 0.6s ease
    border-radius: 0 3px 3px 0
    &:hover
      background-color: rgba(0,0,0,0.8)
  .zenfolio-next
    right: 0
    border-radius: 3px 0 0 3px
  .zenfolio-text
    color: #f2f2f2
    font-size: 15px
    padding: 8px 12px
    position: absolute
    bottom: 8px
    width: 100%
    text-align: center
  .numbertext
    color: #f2f2f2
    font-size: 12px
    padding: 8px 12px
    position: absolute
    top: 0
  .active
    background-color: #717171
  .zenfolio-fade
    -webkit-animation-name: fade
    -webkit-animation-duration: 1.5s
    animation-name: fade
    animation-duration: 1.5s


