<style type="text/css">
    @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }

    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }
</style>
<!-- Slideshow container -->
<div class="zenfolio-slideshow-container">
{% block slides %}{% endblock %}
    <!-- Next and previous buttons -->
    <a class="zenfolio-prev">&#10094;</a>
    <a class="zenfolio-next">&#10095;</a>
</div>