{% extends "base.html.twig" %}
{% block slides %}
    <!-- Full-width images with number and caption text -->
    {% for item in items %}
        <div class="zenfolio-slide zenfolio-fade">
            <div class="zenfolio-numbertext"><span>1</span> / {{ total }}</div>
            <img src="{{ item.img_src }}" alt="{{ item.caption }}" />
            <div class="zenfolio-text">{{ item.caption }}</div>
        </div>
    {% endfor %}
{% endblock %}